<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button #button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand navbar-brand-my">
        AngularApp
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse nav-title" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="dropdown">
          <!--<a routerLink="posts">{{'app.articles' | translate}}</a>-->
        </li>
        <li class="dropdown">
          <a routerLink="home">首页</a>
        </li>

        <li class="dropdown">
          <a routerLink="dynamic">动态</a>
        </li>

        <li class="dropdown">
          <a routerLink="mine">我的</a>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- 主体内容区域 -->
<div class="container main-container">
  <router-outlet></router-outlet>
</div>
<!-- 底部区域 -->
<div class="footer bs-footer">
  <div class="container">
    <div class="row">
      <p>
        Powered by <a href="http://git.oschina.net/mumu-osc/NiceFish" target="_blank">NiceFish</a>
      </p>
    </div>
  </div>
</div>
